{#
Variables are:
- sender = MultitechSender
- recipient = MultitechRecipient
- b64content = content encoded in base 64
#}
<?xml version="1.0" encoding="UTF-8"?>
<schedule_fax>
    <sender>
        <name>{{sender.name}}</name>
        <organization>{{sender.organization}}</organization>
        <phone_number></phone_number>
        <email_address>{{sender.email}}</email_address>
    </sender>
    <recipient>
        <name>{{recipient.name}}</name>
        <organization>{{recipient.organization}}</organization>
        <fax_number>{{recipient.number}}</fax_number>
    </recipient>
    <attachment>
        <location>inline</location>
        <name>attachment1.txt</name>
        <content_type>text/plain</content_type>
        <content_transfer_encoding>base64</content_transfer_encoding>
        <content>{{b64content}}</content>
    </attachment>
    <max_tries>1</max_tries>
    <priority>0</priority>
    <try_interval>30</try_interval>
    <receipt>never</receipt>
    <receipt_attachment>pdf</receipt_attachment>
</schedule_fax>
